
body {
	font-family: monospace;
}




textarea {
	resize: none;
	overflow: hidden;
	outline: none;
	border:none !important;
	box-shadow: none !important;
}

input {
	outline: none;
	border:none !important;
	box-shadow: none !important;
} 

.problem-container {
	width: 500px;
	margin: 50px auto;
	border: 1px solid black;
	padding: 20px;
}

.problem-options {
	display: none;
}

.problem-container input, .problem-container textarea {
	border-width: 0px;

}

/* Add padding to the inside of the note details */
.note-title, .note-options {
	padding: 10px 10px 0px 10px;
	font-size: 17px;
}

 .note-options {
	visibility: visible;
}


.problem-detail {
	display: none;
}

 /* This was added to the bootstrap modal so that everything lines up within the modal */
.modal-body {
	padding: 15px;
	
}

/* This unstyleizes the pre from bootstrap */
.note-detail {
	margin: 0;
	font-size: inherit;
	line-height: inherit;
	background-color: inherit;
	border: 0px;
	border-radius: 0px;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 0px 10px;

}

.saved-note > div {
	padding: 10px;
	
}

.note-wrapper {
	background-color:#838C80;
}

.delete_note {
	background-color: tomato;
}

input:focus {
	outline: none;
}

.modal {padding-top: 15%;}

/*======================= media queries =================*/

@media screen and (max-width: 767px)  {
	.problem-container {
		width: 100%;
	}

}



