
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: helvetica;
	background: url('../img/grid_01.jpg') no-repeat center center fixed;
	background-size: cover;
}

textarea {
	resize: none;
	overflow: hidden;
	outline: none;
	border:none !important;
	box-shadow: none !important;
	color:black;
}

input {
	outline: none;
	border:none !important;
	box-shadow: none !important;
	color:black;
} 

.agentSearchInput {
	width:300px;
}

.agentSearchResult {
	position: absolute;
	width:300px;
	overflow: none;
	background-color: tomato;

}

.resultImage img {
	height: 50px;
	width: 60px;
}

/* These next two styles here style the dropdown box */
.color-dropdown-list {
	text-align: center; /* This for some reason centers the Color Boxes */
	line-height: 0px;
}

.color-dropdown-list li {
	display: inline-block;
	margin: -3px;
	height: 20px;
	width: 20px;
	
}

.container {
	width: 90%;
}
/* dropdown button style end */

.problem-container {
	width: 500px;
	margin: 50px auto;
	padding: 20px;
	left:30px;
	background-color: #F0EDE5;
}

.problem-options {
	display: none;
}

.item {
	/* this set the width of the note entries */
	width: 260px;
}

.saved-note {
	margin: 0 auto;
}

.edit-problem-detail {
	height: 32px;
}


.problem-container input, .problem-container textarea {
	border-width: 0px;

}

.item {
	/* Quick Patch. If this is removed, newly added notes will briefly be out of place.
	then reset back to normal */
	left:20px;
}

/* Add padding to the inside of the note details */
.note-title, .note-options {
	padding: 10px 10px 0px 10px;
	font-size: 17px;
}

.note-title {
	font-weight: bold;
}

 .note-options {
	visibility: visible;
}

.problem-title {
	background-color: #F0EDE5;
}

.problem-detail {
	display: none;
	background-color: #F0EDE5;
}

 /* This was added to the bootstrap modal so that everything lines up within the modal */
.modal-body {
	padding: 15px;
	
}

/* This unstyleizes the pre from bootstrap */
.note-detail {
	
	margin: 0;
	font-size: inherit;
	line-height: 22px;
	background-color: inherit;
	border: 0px;
	border-radius: 0px;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 0px 10px;

}

.saved-note > div {
	padding: 10px;
	
}

.note-wrapper {
	background-color:#838C80;
}

.delete_note {
	background-color: tomato;
}

input:focus {
	outline: none;
}

.modal {padding-top: 15%;}


.active {
	
	position: relative;

	-webkit-animation: slide 1s forwards;
	-moz-animation: slide 1s forwards;
}

.offCanvasLeft{
	
	top: 0;
	left: -50%;
	position: fixed;
	color: red;
	background-color: tomato;
	height:100%;

	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
}


/*======================= media queries =================*/

@media screen and (max-width: 767px)  {
	.problem-container {
		width: 100%;
	}

}

/*================= Keyframes ======================== */
@-webkit-keyframes slide {
	100% {left: 0px;}
}

@-moz-keyframes slide {
	100% {left:0px;}
}



