<div class="problem-container">

			<!-- <input type="text" class="agentSearchInput" placeholder="Who is this"> <button class='btn btn-xs btn-standard showOffCanvas'> Who is this? </button> -->
			<div class="agentSearchResult"> </div>

			<input type="text" aria-multiline="true" placeholder="Title" class="problem-title form-control" id="problem-title">

			<textarea placeholder="Enter Note..." class="problem-detail form-control" rows="1" ></textarea>



			<div class="problem-options"> 
				<button type="button" class="problem-submit btn btn-default pull-right"> Done </button> 

				<div class="btn-group">
					<button type="button" class="btn dropdown-toggle color-dropdown-button" data-toggle="dropdown">
						Color <span class="caret"></span>
					</button>

					<!-- Whatever color you put in here will determine the color of the note when submitted. -->
					<ul class="dropdown-menu color-dropdown-list" role="menu">
						<li style="background-color: #FD8569" id="#FD8569"></li>
						<li style="background-color: #FBA35C" id="#FBA35C"></li>
						<li style="background-color: #ECDE3A" id="#ECDE3A"></li>
						<li style="background-color: #BAEC3A" id="#BAEC3A"></li>
						<li style="background-color: #54D2F1" id="#54D2F1"></li>
						<li style="background-color: #CC498C" id="#CC498C"></li>
						<li style="background-color: #F0EDE5" id="#F0EDE5"></li>
					</ul>
				</div>
			</div>
		</div>